.categoryFilterContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 20.7%;
  gap: 10px;

  span {
    font-size: 20px;
    font-weight: 600;
  }

  li {
    width: 100%;
    padding: 2px 0;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-color: #929292;
      color: #929292;
    }
  }
  .active {
    color: #929292;
  }
}
