.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  width: 100%;
  background-color: black;
  flex: 0 0 auto;

  .footerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 75px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(165, 165, 237);
    border-right: 1px solid grey;
    text-align: center;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }

  .footerInfo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 75px;
    border-right: 1px solid grey;

    span {
      color: white;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: rgb(165, 165, 237);
        text-decoration: underline;
      }
    }
  }
}
