.productItem {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 33.3%;
  height: 350px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  transition: 0.5s;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
  }

  .image {
    height: 175px;
    width: 150px;
    margin: 0 auto;
  }

  .productItemTitle {
    padding-top: 8px;
    font-weight: 600;
  }

  .productItemPrice {
    width: 100%;
    padding-top: 8px;
    text-align: end;
    font-size: 18px;
  }

  .buyContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .sizeList {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      left: 40%;
      width: 68px;
      border: 1px solid #e6e6e6;
      background-color: white;
      border-radius: 5px;
      padding: 8px 12px;
      z-index: 2;

      .oneOfSize:hover {
        text-decoration: underline;
      }

      .fixedSize {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      span {
        font-size: 17px;
        font-weight: 500;
      }
    }

    .countContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      button {
        text-align: center;
        border: none;
        color: rgb(165, 165, 237);
        font-size: 40px;
        font-weight: 500;
        background-color: transparent;
      }

      .decr {
        padding-bottom: 5px;
      }

      span {
        text-align: center;
        min-width: 42px;
        padding: 8px 12px;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
      }
    }

    .buyBtn {
      padding: 8px 16px;
      border-radius: 15px;
      background-color: transparent;
      border: 1px solid #e6e6e6;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      background-color: rgb(165, 165, 237);
      transition: 0.5s;

      font-size: 17px;
      font-weight: 500;

      &:hover {
        background-color: rgb(120, 120, 202);
        transition: 0.5s;
      }
    }
  }
}
